.logo img {
    height: 50px;
}
#carousel-id {
    max-height: 520px;
    overflow:hidden;
}
.client-title {
    text-align: center;
}
.client-images li {
    padding: 0px 15px;
}

/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

body {
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.active {
    color: #029f5b;
    font-size: 18px;
}

/*******************************************************About Us**********************************/
.about-us {
    padding: 0px 0px 25px 0px;
}
.about-us-detail {
     text-align: justify;
    letter-spacing: 0.2px;
    line-height: 20px;
}
.about-us-image > img  {
    padding-top: 60px;
}
/*******************************************************Upper Footer**********************************/
.upper-bottom {
    background: #e4e4f9;
    font-size: 14px;
    padding: 25px 0px;
}
.upper-bottom h3 {
        margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 22px;
    color: #000;
}
.upper-bottom ul {
        list-style: none;
    padding: .8em;
    margin: 0;

}
.upper-bottom ul li {
    display: block;
    padding: 5px 0;
}
.upper-bottom ul li a{
    color: gray;
}
/*******************************************************footer*************************************/
footer {
        padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #323062;
}

footer ul {
        list-style: none;
    padding: 0;
    margin: 0;
}
footer ul li {
        display: inline-block;
    margin-left: 15px;
}