<div class="ps-dashboard-header">
  {{title}}
</div>

<!-- <div ng-if="isLoading" style=" position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
   ">
  <i class="fa fa-spinner fa-5x fa-spin"></i>
</div> -->

<div cg-busy="myPromise" class="dashboard-overview">
  <div class="col-md-3 col-sm-6">
    <section class="panel cust-dasboard-panel panel-orange ">
      <div class="symbol">
        <i class="fa fa-user"></i>
      </div>
      <div class="value">
         <p>Total Job Post</p>
        <h1 class="count">
          {{totalJobPosts?totalJobPosts:0}}
        </h1>
       
      </div>
    </section>
  </div>
  <div class="col-md-3 col-sm-6">
    <section class="panel cust-dasboard-panel panel-green">
      <div class="symbol">
        <i class="fa fa-tags"></i>
      </div>
      <div class="value">
         <p>Total Job Seekers</p>
        <h1 class="count">
          {{totalJobSeekers?totalJobSeekers:0}}
        </h1> 
      </div>
    </section>
  </div>
   <div class="col-md-3 col-sm-6">
    <section class="panel cust-dasboard-panel panel-lightpink">
      <div class="symbol">
      <i class="fa fa-retweet" aria-hidden="true"></i>
      </div>
      <div class="value">
         <p>Total Requested Contacts</p>
        <h1 class="count">
          {{totalRequestedContacts?totalRequestedContacts:0}}
        </h1> 
      </div>
    </section>
  </div>

</div>
<!--state overview end-->
<br><br>
<div ng-show="logoUndefined" class="alert alert-info alert-dismissible fade in" role="alert" style="width:50%">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <a aria-hidden="true" ui-sref="profile">×</a>
  </button>
  <h4>One more thing!</h4>
  <p>Before you can begin, you'll need to complete your profile by uploading your restaurant logo.</p>
  <p>
    <a type="button" class="btn btn-primary" ui-sref="profile">Update</a>
  </p>
</div>
