<div class="ps-dashboard-header">
  {{title}}
</div>


<div class="row">
  <div class="col-md-9">
    <div class="tab-content">
      <div class="tab-pane active" id="tab_1">
        <div class="panel-group" id="accordion1">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-target="#accordion1_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle" aria-expanded="true">
                                      1. Overview of the Dine Club Admin Panel
                                  </a>
              </h4>
            </div>
            <div class="panel-collapse collapse in" id="accordion1_1" aria-expanded="true">
              <div class="panel-body">
                <p> When you log into the admin panel, you will be shown the Dashboard section. This is where you can see a quick overview of your statistics, plus any news and notifications from us.  You will first notice 2 widgets, the first widget will display how many deals you currently have published that are active.  Unless you own a chain of restaurants then this will usually display just 1 deal.  The second widget will tell you how many people have redeemed your deal - eg, the amount of people who have come into your restaurant and taken advantage of the offer you have published.  Sometimes you'll see a notification on this page, perhaps telling you that your profile is incomplete, or with some news from us at Dine Club HQ.  </p>
                <p>Next up, the 'Active Deals' panel.  Here you will get a dropdown list of all of your published deals.  Usually you'll just have 1 deal appear here, unless you own a chain of restaurants where your offer varies depending on the location of the restaurant. For example, your restaurant chains in London may have different deals to those in other locations across the UK.  Once you have clicked on your active deal, you will see a list of locations where this deal is active, and the amount of times your offer has been used at each location.  You'll also be able to remove individual locations from your deal.   If you decide that you no longer wish to remove your deal from our app, simply click the 'de-activate deal' button, this has immediate effect.  You'll now see your deal in the Inactive Deals section. </p>
                <p>Inactive Deals.  This is similar to the Active Deals page, but here you'll see all of the deals which are currently inactive.  You may reactivate your deal at anytime with immediate effect, and it will be republished to the app.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-target="#accordion1_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed" aria-expanded="false">
                                      2. How do I publish my deal?
                                  </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="accordion1_2" aria-expanded="true">
              <div class="panel-body">
                  <p>We know that you'll be wanting to get started right away, so we've made this process nice and simple.  To get started you'll need a few things : </p> <p>- Information about your deal. Carefully think this through, you will need a short and sweet title for your deal.  A slightly longer and brief overview of your deal.  And the terms and conditions for your deal.   Carefully think these things through, as you will be expected to conform to your terms and conditions, so it's a good idea to make sure you are as clear as possible about when your deal can/cannot be used, for how many people, and if there's a minimum spend required. </p>
                  <p>- An image of a dish served at your restaurant.  This ideally needs to be landscape with image dimensions of 500x280 pixels, however, you can use the cropping tool to adjust your image to how you see best.  Remember that you must have permission to use this image, keep in mind copyright laws and do not steal images from other restaurants as this may lead to the suspension/banning of your account.
                  </p>
                  <p>- The location of your restaurant.  Simply enter your restaurants postcode and click 'confirm'.  You'll now be given a drop down menu where you can select your restaurant from the list.  It is important that you enter accurate details otherwise Dine Club app users will not be able to find your restaurant or see you in their results list. 
                  </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="tab-pane" id="tab_2">
        <div class="panel-group" id="accordion2">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-target="#accordion2_1" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                                      1. Restaurant Logo Sizing
                                  </a>
              </h4>
            </div>
            <div class="panel-collapse collapse  in" id="accordion2_1">
              <div class="panel-body">
                <p>
                  In your profile section, you will be required to upload your restaurant logo. This is mandatory as your deal will not appear in the Dine Club app without it.  We recommend that you use a SQUARE format for you logo, however, we understand that many logos are in a landscape format. Whilst you may use landscape for your logo, the best results will always be from a square format. 
                </p>
                
              </div>
            </div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-target="#accordion2_2" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                                      2. Featured Image Sizing?
                                  </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="accordion2_2">
              <div class="panel-body">
                <p>
                  When creating a new deal, you will be asked to upload an image of a dish that is served at your restaurant. Try to make sure it is attractive as possible as this is what will get you noticed on the app. Keep it relevant and simple.  The final image will be in landscape so bear this in mind when choosing your image.  You may use the crop tool to help size your image, but for best results we recommend pre-sizing your image to 500x280 pixels. You may encounter problems when uploading files larger than 2mb, so keep this in mind. 
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-target="#accordion2_3" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                                      3. How should I word my deal?
                                  </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="accordion2_3">
              <div class="panel-body">
                <p> We recommend keeping your information as clear and simple as possible. Here's some tips on creating your deal:
                  </p>
                  <p>Deal Title:  Keep this under 20 characters long. It is designed to give users a quick snapshot of your offer. For example - 25% off food (Mon-Fri).</p>
                  <p>Deal Description:  Here is where you can include a few more details about your restaurant and your offer. Feel free to introduce your first sentence by describing your restaurant and any awards you have.  Be clear about whether the discount is on the total bill or just the food bill, and when the offer is valid.  Remember that the offer must be redeemable on your normal A La Carte menu. <br>
                      For example: Dine in at the fabulous Michelin star awarded [YOURNAME] restaurant from Monday to Thursday and receive 25% off your food bill (excludes drinks)  Pre-booking is required - mention Dine Club when booking.  
                  </p>
                  <p>Deal Terms and Conditions:   Here is where you will list all of the terms and conditions for your offer, remember to as clear as possible so that customers will not be disappointed or confused about whether they can redeem the offer.  Include things such as : <br>
                      - What days is your offer valid for? <br>
                      - Are bank holidays/christmas dates included? <br>
                      - How many people can receive the discount? <br>
                      - Is pre-booking required? <br>
                      - Is there a minimum spend? <br>
                      - Is the discount inclusive of drinks or just food?
                  </p>
              </div>
            </div>
          </div>
          

        </div>
      </div>
      <div class="tab-pane" id="tab_3">
        <div class="panel-group" id="accordion3">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-target="#accordion3_1" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle">
                                      1. Why is my deal not showing on the app ?
                                  </a>
              </h4>
            </div>
            <div class="panel-collapse collapse  in" id="accordion3_1">
              <div class="panel-body">
                <p>
                  We recommend downloading the Dine Club app to check if your deal has successfully published. There are a few things to take into account when checking if your deal has published properly...
                </p>
                <p>
                  Your location : The Dine Club app will show restaurants that are either 5 or 10 miles from your current GPS location.  If your mobile device is location further than 5 or 10 miles, try using the search bar to type in the city or postcode of your restaurant. 
                </p>
                  <p>The next step is to make sure you have properly activated your Dine Club account.  Upon signing up to Dine Club we send you an email so that you can verify your email address.  Click the link in the email to verify your account. 
                  </p>
                  <p> If your deal is still not showing on the app, try checking your profile page.  You must have a valid telephone number, website, and logo uploaded.  If you haven't uploaded a logo then your offer will not appear on the app.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-target="#accordion3_2" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle">
                                      2. How do I de-activate my deal?
                                  </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="accordion3_2">
              <div class="panel-body">
                If you decide you'd like to remove your offer from the Dine Club app, simply head over to the 'Active Deals' section and click the 'Expire this Deal' button. Your deal will be removed from the app with immediate effect.
                  Before expiring a deal, please remember to honour any bookings you may have for that day.  For example, if a user books a table mentioning the Dine Club offer and you expire the deal an hour later, you must honour that users booking along with the discount. 
              </div>
            </div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-target="#accordion3_3" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle">
                                      3. I have another question
                                  </a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="accordion3_3">
              <div class="panel-body">
                Feel free to use the contact form on the left to get in touch and we will respond as soon as possible.
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <ul class="vertical-menu">
      <li class="active">
        <a data-target="#tab_1" data-toggle="tab" aria-expanded="true">
          <i class="fa fa-bullhorn"></i> Getting Started
        </a>
      </li>
      <li class=""><a data-target="#tab_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-bolt"></i>  Best use guide</a></li>
      <li class=""><a data-target="#tab_3" data-toggle="tab" aria-expanded="false"><i class="fa fa-briefcase"></i>  Problems</a></li>
      
    </ul>
  </div>

</div>
