<div class="ps-dashboard-header">
    {{title}}
</div>
<div class="row" cg-busy="myPromise">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Post
            </header>
            <div class="panel-body">
                <form id="register-form" class="form-horizontal" name="jobPostForm" ng-submit="submitForm(jobPostForm.$valid)" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : jobPostForm.FULL_NAME.$invalid && (jobPostForm.FULL_NAME.$dirty || submitted)}">
                        <label class="col-lg-4 col-sm-2 control-label">FULL NAME</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="FULL_NAME" ng-model="postData.FULL_NAME" placeholder="FULL NAME" ng-required="true">
                            <p ng-show="jobPostForm.FULL_NAME.$error.required &&  (jobPostForm.FULL_NAME.$dirty || submitted)" class="help-block">Contact Name is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : jobPostForm.EMAIL.$invalid && (jobPostForm.EMAIL.$dirty || submitted)}">
                        <label class="col-lg-4 col-sm-2 control-label">EMAIL</label>
                        <div class="col-lg-8">
                            <input type="email" class="form-control" name="EMAIL" ng-model="postData.EMAIL" placeholder="EMAIL" ng-required="true">
                            <p ng-show="jobPostForm.EMAIL.$error.required &&  (jobPostForm.EMAIL.$dirty || submitted)" class="help-block">EMAIL is required.</p>
                            <p ng-show="jobPostForm.EMAIL.$error.EMAIL &&  (jobPostForm.EMAIL.$dirty || submitted)" class="help-block">This not a valid EMAIL address.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : jobPostForm.TELEPHONE.$invalid && (jobPostForm.TELEPHONE.$dirty || submitted)}">
                        <label class="col-lg-4 col-sm-2 control-label">TELEPHONE</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="TELEPHONE" ng-model="postData.TELEPHONE" ng-model-options="{ debounce: 1000 }"
                                ng-required="true" placeholder="Telephone" pattern="^(?:(?:\(?(?:0(?:0|11)\)?[\s-]?\(?|\+)44\)?[\s-]?(?:\(?0\)?[\s-]?)?)|(?:\(?0))(?:(?:\d{5}\)?[\s-]?\d{4,5})|(?:\d{4}\)?[\s-]?(?:\d{5}|\d{3}[\s-]?\d{3}))|(?:\d{3}\)?[\s-]?\d{3}[\s-]?\d{3,4})|(?:\d{2}\)?[\s-]?\d{4}[\s-]?\d{4}))(?:[\s-]?(?:x|ext\.?|\#)\d{3,4})?$">
                            <p ng-show="jobPostForm.TELEPHONE.$error.required && (jobPostForm.TELEPHONE.$dirty || submitted)" class="help-block">Telephone Number is required.</p>
                            <p ng-show="jobPostForm.TELEPHONE.$error.pattern && (jobPostForm.TELEPHONE.$dirty || submitted)" class=< /div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : jobPostForm.CURRENT_LOCATION.$invalid && (jobPostForm.CURRENT_LOCATION.$dirty || submitted)}">
                        <label class="col-lg-4 col-sm-2 control-label">CURRENT_LOCATION</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="CURRENT_LOCATION" ng-model="postData.CURRENT_LOCATION" placeholder="CURRENT LOCATION"
                                ng-required="true">
                            <p ng-show="jobPostForm.CURRENT_LOCATION.$error.required &&  (jobPostForm.CURRENT_LOCATION.$dirty || submitted)" class="help-block">Contact Name is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : jobPostForm.KEY_SKILLS.$invalid && (jobPostForm.KEY_SKILLS.$dirty || submitted)}">
                        <label class="col-lg-4 col-sm-2 control-label">JOB DESCRIPTION</label>
                        <div class="col-lg-8">
                            <textarea name="KEY_SKILLS" class="form-control" ng-model="postData.KEY_SKILLS" ng-required="true"></textarea>
                            <p ng-show="jobPostForm.KEY_SKILLS.$error.required &&  (jobPostForm.KEY_SKILLS.$dirty || submitted)" class="help-block">JOB DESCRIPTION is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : jobPostForm.TOTAL_EXP.$invalid && (jobPostForm.TOTAL_EXP.$dirty || submitted)}">
                        <label class="col-lg-4 col-sm-2 control-label">TOTAL EXP</label>
                        <div class="col-lg-8">
                            <input type="number" class="form-control" name="TOTAL_EXP" ng-model="postData.TOTAL_EXP" placeholder="TOTAL_EXP" ng-required="true">
                            <p ng-show="jobPostForm.TOTAL_EXP.$error.required &&  (jobPostForm.TOTAL_EXP.$dirty || submitted)" class="help-block">TOTAL EXP is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : jobPostForm.CURRENT_DESIGNATION.$invalid && (jobPostForm.CURRENT_DESIGNATION.$dirty || submitted)}">
                        <label class="col-lg-4 col-sm-2 control-label">CURRENT_DESIGNATION</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="CURRENT_DESIGNATION" ng-model="postData.CURRENT_DESIGNATION" placeholder="CURRENT_DESIGNATION"
                                ng-required="true">
                            <p ng-show="jobPostForm.CURRENT_DESIGNATION.$error.required &&  (jobPostForm.CURRENT_DESIGNATION.$dirty || submitted)" class="help-block">CURRENT_DESIGNATION is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : jobPostForm.CURRENT_EMPLOYER.$invalid && (jobPostForm.CURRENT_EMPLOYER.$dirty || submitted)}">
                        <label class="col-lg-4 col-sm-2 control-label">CURRENT_EMPLOYER</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="CURRENT_EMPLOYER" ng-model="postData.CURRENT_EMPLOYER" placeholder="CURRENT_EMPLOYER"
                                ng-required="true">
                            <p ng-show="jobPostForm.CURRENT_EMPLOYER.$error.required &&  (jobPostForm.CURRENT_EMPLOYER.$dirty || submitted)" class="help-block">CURRENT_EMPLOYER is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : jobPostForm.CURRENT_SALARY.$invalid && (jobPostForm.CURRENT_SALARY.$dirty || submitted)}">
                        <label class="col-lg-4 col-sm-2 control-label">CURRENT_SALARY</label>
                        <div class="col-lg-8">
                            <input type="number" class="form-control" name="CURRENT_SALARY" ng-model="postData.CURRENT_SALARY" placeholder="CURRENT_SALARY"
                                ng-required="true">
                            <p ng-show="jobPostForm.CURRENT_SALARY.$error.required &&  (jobPostForm.CURRENT_SALARY.$dirty || submitted)" class="help-block">CURRENT_SALARY is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : jobPostForm.HIGH_QUALIFICATION.$invalid && (jobPostForm.HIGH_QUALIFICATION.$dirty || submitted)}">
                        <label class="col-lg-4 col-sm-2 control-label">HIGH_QUALIFICATION</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="HIGH_QUALIFICATION" ng-model="postData.HIGH_QUALIFICATION" placeholder="HIGH_QUALIFICATION"
                                ng-required="true">
                            <p ng-show="jobPostForm.HIGH_QUALIFICATION.$error.required &&  (jobPostForm.HIGH_QUALIFICATION.$dirty || submitted)" class="help-block">HIGH_QUALIFICATION is required.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : jobPostForm.INSTITION.$invalid && (jobPostForm.INSTITION.$dirty || submitted)}">
                        <label class="col-lg-4 col-sm-2 control-label">INSTITION</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="INSTITION" ng-model="postData.INSTITION" placeholder="INSTITION" ng-required="true">
                            <p ng-show="jobPostForm.INSTITION.$error.required &&  (jobPostForm.INSTITION.$dirty || submitted)" class="help-block">INSTITION is required.</p>
                        </div>
                    </div>

                     <div class="form-group" ng-class="{ 'has-error' : jobPostForm.RESUME_TITLE.$invalid && (jobPostForm.RESUME_TITLE.$dirty || submitted)}">
                        <label class="col-lg-4 col-sm-2 control-label">RESUME_TITLE</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="RESUME_TITLE" ng-model="postData.RESUME_TITLE" placeholder="RESUME_TITLE" ng-required="true">
                            <p ng-show="jobPostForm.RESUME_TITLE.$error.required &&  (jobPostForm.RESUME_TITLE.$dirty || submitted)" class="help-block">RESUME_TITLE is required.</p>
                        </div>
                    </div>
                    <!--<div class="form-group">
            <label class="col-lg-4 col-sm-2 control-label">Logo</label>
            <div class="col-lg-8" style="position:relative">
              <button class="btn btn-info pull-right" type="button" ng-click="abc=!abc">Add / Update logo</button>
              <div ng-show="postData.file">
                <img width="100px" ng-src="{{postData.file}}"></img>
              </div>
              <div ng-show="abc">
                <div>Select an image file:
                  <input type="file" custom-on-change="handleFileSelect" />
                </div>
                <div class="cropArea">
                  <img-crop image="myImage" area-type="rectangle" aspect-ratio="1.0" result-image="myCroppedImage" result-image-size='{w: 200,h: 200}'></img-crop>
                </div>
                <div>Cropped Image:</div>
                <div>
                  <img ng-src="{{myCroppedImage}}" />
                </div>
              </div>
            </div>
          </div>-->
                    <button type="submit" class="btn btn-success">Add</button>
                    <!--<a ui-sref="user.employer-posts" class="btn btn-warning">Back</a>-->
                </form>
            </div>
        </section>
    </div>
</div>