<header>

    <div class="container">
        <div class="row">
            <div class="col-md-8 hidden-sm hidden-xs"></div>
            <div class="col-md-4">
                <ul class="nav navbar-nav pull-right">
                    <li class="active">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </li>
                    <li ng-show="isLoggedIn()">
                        <a href="" ng-click="logout()"><i class="fa fa-sign-out"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <img src="images/logo.png" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="navbar pull-right">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a ui-sref="user.aboutus">About Us</a>
                        </li>
                        <li>
                            <a ui-sref="user.services">Services</a>
                        </li>
                        <li>
                            <a ui-sref="user.employer-posts">Employer</a>
                        </li>
                        <li>
                            <a ui-sref="user.job-seekers-post">Candidates</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div ui-view class="custom-content"></div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">© 2016 <a href="complaints">Smart Job Consulting</a>. All Rights Reserved.</div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/morpheusindia" title="Morpheus on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/morpheusindia" title="Morpheus twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li>
                            <a href="https://www.linkedin.com/company/morpheus-human-consulting-pvt--ltd-" target="_blank"><i class="fa fa-linkedin" title="Morpheus linkedin"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UCjK0sQifFUEuPCVwWwfx27Q/feed" target="_blank"><i class="fa fa-youtube" title="Morpheus youtube"></i></a></li>
                        <li><a href="https://plus.google.com/+morpheusindia/posts" target="_blank"><i class="fa fa-google-plus" title="Morpheus google "></i></a></li>
                        <li><a href="https://www.instagram.com/morpheusconsulting/" target="_blank"><i class="fa fa-instagram" title="Morpheus instagram"></i></a></li>
                        <li><a href="complaints.php" target="_blank"><i class="fa fa-commenting"></i></a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</footer>