<section>
  <section class="custom-carousel">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
        <div id="carousel-id" class="carousel slide" data-ride="carousel">
          <!--<ol class="carousel-indicators">
                <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
              </ol>-->
          <div class="carousel-inner">
            <div class="item">
              <img alt="Second slide" src="images/bg1.jpg">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Example headline.</h1>
                  <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons
                    on the left and right might not load/display properly due to web browser security rules.</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
              </div>
            </div>
            <div class="item">
              <img alt="Second slide" src="images/bg2.jpg">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Another example headline.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                    metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
              </div>
            </div>
            <div class="item active">
              <img alt="Second slide" src="images/bg3.jpg">
              <div class="container">
                <div class="carousel-caption">
                  <h1>One more for good measure.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                    metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        </div>
        <div class="col-md-3">
          <div class="quick-links">
            <div class="quick-link-data">
              <p>Apply to all jobs that you like in just one click</p>
              <button class="custom-btn btn-orange">Apply Now</button>
            </div>
            <div class="quick-link-data">
                <p>Post your requiremnts in one click</p>
              <button class="custom-btn btn-cyan">Job Post</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Clients-->
  <section class="clients">
      <div class="container">
            <div class="row">
        <div class="col-md-12">
          <div class="page-header client-title">
            <h1>Clients</h1>
          </div>
        </div>
        <div class="col-md-12">
          <marquee>
            <div class="col-md-2">
              <img src="images/client1.jpg" />
            </div>
            <div class="col-md-2">
              <img src="images/client2.jpg" />
            </div>
            <div class="col-md-2">
              <img src="images/client3.jpg" />
            </div>
            <div class="col-md-2">
              <img src="images/client4.jpg" />
            </div>
          </marquee>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="upper-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h3>Company</h3>
          <ul>
            <li><a href="aboutus" title="About us">About us</a></li>
            <li><a href="we-are-hiring" title="We are hiring">We are hiring</a></li>
            <li><a href="our-team" title="Our Team">Meet the team</a></li>
            <li><a href="careertips" title="Career Tips">Career Tips</a></li>
            <li><a href="submit-your-resume" title="Privacy policy">Submit Resume</a></li>
            <li><a href="sitemap.php" title="sitemap">Sitemap</a></li>
            <li><a href="morpheus-human-charity" title="Morpheus human Charity">Morpheus Human Charity</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h3>Franchise</h3>
          <ul>
            <li><a href="franchise" title="About Franchise">Franchise</a></li>
            <li><a href="locations" title="Locations">Franchise Location</a></li>
            <li><a href="clients" title="Clients">Our Clients</a></li>
            <li><a href="franchise-testimonials" title="Testimonials">Franchise Testimonials</a></li>
            <li><a href="franchise-reviews" title="Connect us">Franchise-Reviews</a></li>
            <li><a href="franchise-enquiry" title="Connect us">Franchise Enquiry</a></li>
            <li><a href="http://morpheusgulf.com/" target="_blank" title="Morpheus Human Consulting FZE">Recruitment Franchise in Middle East</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h3>Other Links</h3>
          <ul>
            <li><a href="http://morpheusgulf.com/jobs/" title="Jobs in Middle-East">Jobs in Middle-East</a></li>
            <li><a href="careers" title="Chennai">Jobs in Chennai</a></li>
            <li><a href="careers" title="Bangalore">Jobs in Bangalore</a></li>
            <li><a href="careers" title="Kolkata">Jobs in Kolkata</a></li>
            <li><a href="careers" title="Ahemdabad">Jobs in Ahmedabad</a></li>
            <li><a href="careers" title="Pune">Jobs in Mumbai</a></li>
            <li><a href="careers" title="Delhi">Jobs in Delhi</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>