<!--<div class="ps-dashboard-header">
    {{title}}
</div>-->
<div cg-busy="myPromise">
    <div ng-hide="$parent.isLoggedIn()" class="sign-in-form" style="margin-top:90px">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a href="" class="active" id="login-form-link" ng-click="$parent.clearMessage($event)">Login</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="" id="register-form-link" ng-click="$parent.clearMessage($event)">Register</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form cg-busy="myPromise" id="login-form" name="loginForm" ng-submit="$parent.login(loginForm.$valid)" novalidate style="display: block;">
                                        <!--  <h2 class="form-signin-heading">sign in now</h2> -->
                                        <div class="login-wrap">
                                            <div class="form-group" ng-class="{ 'has-error' : loginForm.EMAIL.$invalid && (loginForm.EMAIL.$dirty || submitted)}">
                                                <input type="EMAIL" class="form-control" name="EMAIL" ng-model="$parent.userData.EMAIL" placeholder="EMAIL" ng-required="true">
                                                <p ng-show="loginForm.EMAIL.$error.required &&  (loginForm.EMAIL.$dirty || submitted)" class="help-block">EMAIL is required.</p>
                                                <p ng-show="loginForm.EMAIL.$error.EMAIL &&  (loginForm.EMAIL.$dirty || submitted)" class="help-block">This not a valid EMAIL address.</p>
                                            </div>
                                            <!-- <div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && (loginForm.username.$dirty || submitted)}">
                        <input type="text" id="username" tabindex="1" class="form-control" name="username" ng-model-options="{ debounce: 1000 }" pattern="^[a-zA-Z0-9]{6,18}$" ng-model="$parent.userData.username" placeholder="Username" ng-required="true">
                        <p ng-show="loginForm.username.$error.required &&  (loginForm.username.$dirty || submitted)" class="help-block">You must enter a valid username address</p>
                        <p ng-show="loginForm.username.$error.pattern &&  (loginForm.username.$dirty || submitted)" class="help-block">Input should only alphnumeric.</p>
                      </div> -->
                                            <div class="form-group" ng-class="{ 'has-error' : loginForm.PASSWORD.$invalid && (loginForm.PASSWORD.$dirty || submitted)}">
                                                <input type="PASSWORD" id="PASSWORD" class="form-control" name="PASSWORD" ng-model="$parent.userData.PASSWORD" placeholder="PASSWORD"
                                                    ng-model-options="{ debounce: 1000 }" ng-required="true" pattern="^((?=.*[A-Za-z])(?=.*\d)).{6,15}$">
                                                <p ng-show="loginForm.PASSWORD.$error.required &&  (loginForm.PASSWORD.$dirty || submitted)" class="help-block">This field is required</p>
                                                <p ng-show="loginForm.PASSWORD.$error.pattern &&  (loginForm.PASSWORD.$dirty || submitted)" class="help-block">Minimum 8 and Maximum 15 characters, must include at least 1 number</p>
                                            </div>
                                            <!-- <div class="g-recaptcha" data-sitekey="6LcpzxkTAAAAAKSicVvoN2gtlAgr-_BHIO5oQeoV"></div> -->
                                            <!--<div vc-recaptcha key="'6LcpzxkTAAAAAKSicVvoN2gtlAgr-_BHIO5oQeoV'"></div>-->
                                            <!-- <p ng-show="loginForm.recaptcha.$error.required &&  submitted" class="help-block">This field is required</p> -->
                                            <!--<label class="checkbox">
                         <input type="checkbox" value="remember-me"> Remember me 
                        <span class="pull-left">
                          <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                        </span>
                      </label>-->
                                            <!-- <p ng-show="message" class="help-block">{{message}}</p> -->
                                            <!--  <div class="alert alert-danger" role="alert" ng-show="message">{{message}}</div> -->
                                            <!-- <div vc-recaptcha key="6LcpzxkTAAAAAL3ybjwZZkku5d6rZ75rqeYsqPMj"></div> -->
                                            <br>
                                            <br>
                                            <button class="btn btn-lg btn-login btn-block">Sign in</button>
                                            <!--  <p>or you can sign in via social network</p>
            <div class="login-social-link">
                <a href="index.html" class="facebook">
                    <i class="fa fa-facebook"></i>
                    Facebook
                </a>
                <a href="index.html" class="twitter">
                    <i class="fa fa-twitter"></i>
                    Twitter
                </a>
            </div>
            <div class="registration">
                Don't have an account yet?

                <a class="" ui-sref="registration">
					Create an account
                </a>
            </div> -->
                                        </div>
                                        <!-- Modal -->
                                        <!--<div cg-busy="myPromise" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                                                        <h4 class="modal-title">Forgot Password ?</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Enter your e-mail address below to reset your password.</p>
                                                        <input type="text" name="EMAIL" placeholder="EMAIL" ng-model="EMAIL" autocomplete="off" class="form-control placeholder-no-fix">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                                        <button class="btn btn-success" type="button" ng-click="reset()">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <!-- modal -->
                                    </form>
                                    <form cg-busy="myPromise" id="register-form" name="registrationForm" ng-submit="$parent.registerUser(registrationForm.$valid)"
                                        novalidate style="display: none;">
                                        <!--  <h2 class="form-signin-heading">registration now</h2> -->
                                        <div class="login-wrap">
                                            <div class="form-group" ng-class="{ 'has-error' : registrationForm.NAME.$invalid && (registrationForm.NAME.$dirty || submitted)}">
                                                <input type="text" class="form-control" name="NAME" ng-model="$parent.userData.NAME" placeholder="Company Name" ng-required="true">
                                                <p ng-show="registrationForm.NAME.$error.required &&  (registrationForm.NAME.$dirty || submitted)" class="help-block">Contact Name is required.</p>
                                            </div>
                                            <p> Enter your account details below</p>
                                            <div class="form-group" ng-class="{ 'has-error' : registrationForm.EMAIL.$invalid && (registrationForm.EMAIL.$dirty || submitted)}">
                                                <input type="EMAIL" class="form-control" name="EMAIL" ng-model="$parent.userData.EMAIL" placeholder="EMAIL" ng-required="true">
                                                <p ng-show="registrationForm.EMAIL.$error.required &&  (registrationForm.EMAIL.$dirty || submitted)" class="help-block">EMAIL is required.</p>
                                                <p ng-show="registrationForm.EMAIL.$error.EMAIL &&  (registrationForm.EMAIL.$dirty || submitted)" class="help-block">This not a valid EMAIL address.</p>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : registrationForm.TELEPHONE.$invalid && (registrationForm.TELEPHONE.$dirty || submitted)}">
                                                <input type="text" class="form-control" name="TELEPHONE" ng-model="$parent.userData.TELEPHONE" ng-model-options="{ debounce: 1000 }"
                                                    ng-required="true" placeholder="Telephone" pattern="^(?:(?:\(?(?:0(?:0|11)\)?[\s-]?\(?|\+)44\)?[\s-]?(?:\(?0\)?[\s-]?)?)|(?:\(?0))(?:(?:\d{5}\)?[\s-]?\d{4,5})|(?:\d{4}\)?[\s-]?(?:\d{5}|\d{3}[\s-]?\d{3}))|(?:\d{3}\)?[\s-]?\d{3}[\s-]?\d{3,4})|(?:\d{2}\)?[\s-]?\d{4}[\s-]?\d{4}))(?:[\s-]?(?:x|ext\.?|\#)\d{3,4})?$">
                                                <p ng-show="registrationForm.TELEPHONE.$error.required && (registrationForm.TELEPHONE.$dirty || submitted)" class="help-block">Telephone Number is required.</p>
                                                <p ng-show="registrationForm.TELEPHONE.$error.pattern && (registrationForm.TELEPHONE.$dirty || submitted)" class="help-block">Invalid Telephone number.</p>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : registrationForm.PASSWORD.$invalid && (registrationForm.PASSWORD.$dirty || submitted)}">
                                                <input type="PASSWORD" id="PASSWORD" class="form-control" name="PASSWORD" ng-model="$parent.userData.PASSWORD" placeholder="PASSWORD"
                                                    ng-model-options="{ debounce: 1000 }" ng-required="true" pattern="^((?=.*[A-Za-z])(?=.*\d)).{6,15}$">
                                                <p ng-show="registrationForm.PASSWORD.$error.required &&  (registrationForm.PASSWORD.$dirty || submitted)" class="help-block">This field is required</p>
                                                <p ng-show="registrationForm.PASSWORD.$error.pattern &&  (registrationForm.PASSWORD.$dirty || submitted)" class="help-block">Password must be a minimum of 8 characters, containing at least 1 number</p>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : registrationForm.confirmPassword.$invalid && (registrationForm.confirmPassword.$dirty || submitted)}">
                                                <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" ng-model="$parent.userData.confirmPassword"
                                                    placeholder="Confirm Password" ng-model-options="{ debounce: 1000 }" ng-required="true"
                                                    pattern="^((?=.*[A-Za-z])(?=.*\d)).{6,15}$">
                                                <p ng-show="registrationForm.confirmPassword.$error.required &&  (registrationForm.confirmPassword.$dirty || submitted)"
                                                    class="help-block">This field is required</p>
                                                <p ng-show="registrationForm.confirmPassword.$error.pattern &&  (registrationForm.confirmPassword.$dirty || submitted)" class="help-block">Password must be a minimum of 8 characters, containing at least 1 number</p>
                                            </div>
                                            <!-- <div class="g-recaptcha" data-sitekey="6LcpzxkTAAAAAKSicVvoN2gtlAgr-_BHIO5oQeoV"></div> -->
                                            <!--<div vc-recaptcha key="'6LcpzxkTAAAAAKSicVvoN2gtlAgr-_BHIO5oQeoV'"></div>-->
                                            <!-- <p ng-show="registrationForm.recaptcha.$error.required &&  submitted" class="help-block">This field is required</p> -->
                                            <!--<label class="checkbox">
                        <input type="checkbox" ng-model="$parent.userData.isAgreeWithTerms" value="agree this condition"><a data-toggle="modal" href="#termsAndCondition"> I agree to the Terms & Conditions</a>
                      </label>-->
                                            <!-- <p ng-show="message" class="help-block">{{message}}</p> -->
                                            <!--  <div class="alert alert-danger" role="alert" ng-show="message">{{message}}</ div>-->
                                            <button type="submit" class="btn btn-lg btn-login btn-block">Submit</button>
                                            <!--   <div class="registration">
                Already Registered.
                <a class="" ui-sref="login">
                    Login
                </a>
            </div> -->
                                        </div>
                                        <div aria-hidden="true" aria-labelledby="termsAndCondition" role="dialog" tabindex="-1" id="termsAndCondition" class="modal fade">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <a class="close" data-dismiss="modal" aria-hidden="true ">&times;</a>
                                                        <h4 class="modal-title ">Terms and Conditions</h4>
                                                    </div>
                                                    <div class="modal-body ">
                                                        <p>TERMS AND CONDITIONS:</p>
                                                        <p>You should print a copy of these terms and conditions for future
                                                            reference.
                                                            <br /> &ldquo;We&rdquo;, &ldquo;Ourselves&rdquo;, &ldquo;Our&rdquo;,
                                                            &ldquo;Dine Club&rdquo;, or &ldquo;Dine-Club&rdquo; means Dine
                                                            Club. ;
                                                            <br /> Whilst we make every effort to make sure information on
                                                            the Dine-Club mobile app is accurate and true, we will not be
                                                            held responsible for any loss caused as a result of misuse by
                                                            the users. </p>
                                                        <p>
                                                            By continuing to create an account on the Dine-Club service, you warrant that you are legally capable of entering into binding
                                                            contracts and you are at least 18 years old and are the true
                                                            owner of the restaurant you will be promoting, or have permission
                                                            from the restaurant owner. </p>
                                                        <p>To use the Dine-Club service you agree to the following terms and
                                                            conditions:
                                                        </p>
                                                        <p>- You agree to give the offer you create to all persons who produce
                                                            to us their current Dine-Club membership via the mobile app.
                                                            <br /> - You agree that the offer applies to the normal &lsquo;al
                                                            la carte&rsquo; menu and that no restrictions exist as to the
                                                            dishes available.
                                                            <br /> - You agree that the offer applies to all days and all
                                                            times and all persons mentioned in your terms and conditions
                                                            that you set in our offer.
                                                            <br /> - You agree that the offer given in your promotion is
                                                            valid until the end of the working day on the date of removal/de-activation
                                                            from the Dine-Club system. For example, if you de-activate your
                                                            offer at 11am, your offer will remain valid until close of business
                                                            on the same day, and you will be required to honour your offer
                                                            to all persons presenting their membership on that day.
                                                            <br /> - You agree that you own or have the rights to use the
                                                            images you upload for use in your promotion, and that you will
                                                            be held responsible should you be breaking copyright laws. You
                                                            may not post violent, nude, partially nude, discriminatory, unlawful,
                                                            infringing, hateful, pornographic or sexually suggestive photos
                                                            or other content via the service.
                                                            <br /> - By using the service provided by Dine-Club, you agree
                                                            that we may use your restaurant logo for use in marketing or
                                                            promotion of Dine-Club via our website or printed materials.
                                                            <br /> - You have read and fully understand this agreement, as
                                                            well as the following terms and conditions:</p>
                                                        <p>
                                                            You agree to offer Dine-Club mobile app members a discount when displaying their Dine-Club membership at your restaurant.
                                                            Discounts should be of at least 10%, though it is recommended
                                                            to offer at least 20%. You may state a minimum spend required
                                                            before the discount is achieved , for example you may offer 25%
                                                            off the total bill when spending a minimum of &pound;20 in your
                                                            restaurant.
                                                            <br /> You are responsible to create the terms and conditions
                                                            for your promotion clearly, and to honour the terms in your promotion.
                                                            We reserve the right to remove your restaurant from the Dine-Club
                                                            service should uses report your restaurant to be refusing your
                                                            offer as stated in your promotions terms and conditions. </p>
                                                        <p>
                                                            Dine-Club is currently offered as a free service to both the consumer and restauranteur.
                                                            <br /> We reserve the right to change our pricing structure in
                                                            the future, however, we do not expect there to be a significant
                                                            change. We would never charge our customers without clearly explaining
                                                            the changes and asking their express permission to sign them
                                                            up on a subscription basis. We will alert you to any future changes
                                                            in pricing with a minimum of 14 days notice, either on our website
                                                            or via email communication. We are not liable for non-receipt
                                                            of any notice, but will do our utmost to endeavour they are received
                                                            and read by you. In proving any notice has been served by us
                                                            it will be sufficient to prove that we addressed it and sent
                                                            it to the address provided by you. You must inform us of any
                                                            changes to your details.</p>
                                                        <p>Rights:</p>
                                                        <p>All Intellectual Property Rights (including, without limitation,
                                                            all database rights, rights in designs, rights in know-how, patents
                                                            and rights in inventions (in all cases whether registered or
                                                            unregistered and including all rights to apply for registration)
                                                            and all other intellectual or industrial property rights in any
                                                            jurisdiction) in any information, content, materials, data or
                                                            processes belong us.
                                                            <br /> We grant no rights to you in relation to our intellectual
                                                            property rights or the intellectual property rights of third
                                                            parties associated with us. You agree not to copy, disclose,
                                                            provide or otherwise make available for unauthorised use our
                                                            name, logo and/or any other trade marks otherwise than as set
                                                            out in these Terms and Conditions.
                                                            <br /> You may not, and you may not assist anyone to or attempt
                                                            to, reverse engineer, de-compile, disassemble, modify, copy,
                                                            lend, hire, sub-license, create derivative works from, distribute,
                                                            commercially exploit or transfer in any other way any products,
                                                            software or services in whole or part.</p>
                                                        <p></p>
                                                        <p>Accuracy
                                                            <br /> We aim to ensure that any data, information or advice
                                                            provided is accurate, current and updated on a regular basis.
                                                            However, much of the information is provided by third parties,
                                                            and while we continue to make reasonable efforts to verify it,
                                                            we cannot guarantee either the accuracy or the timeliness of
                                                            such information and give no warranty of any kind, express or
                                                            implied.
                                                            <br /> We make no representation or warranty about the accuracy,
                                                            completeness or suitability for any purpose of the information
                                                            provided. This information may contain technical and factual
                                                            inaccuracies, misrepresentations, omissions or typographical
                                                            errors. Any liability we may have for such content however arising
                                                            is expressly excluded to the fullest extent permitted by law.
                                                            <br /> This data, information or advice may include, but is not
                                                            limited to, any reference to the number, type, quality and/or
                                                            description of participating establishments. We cannot guarantee
                                                            the continued participation of any establishment.
                                                            <br /> The number, type, quality and/or description of participating
                                                            establishments shall not be of the essence unless expressly agreed
                                                            otherwise.
                                                        </p>
                                                        <p></p>
                                                        <p>Limitation of liability
                                                            <br /> In no event will we be liable for any direct, indirect,
                                                            special, punitive, exemplary or consequential losses or damages
                                                            of whatsoever kind arising out of any use or in connection with
                                                            any use of the products, including loss of profit and the like
                                                            whether or not in the contemplation of the parties, whether based
                                                            on breach of contract, tort (including negligence), product liability
                                                            or otherwise, even if advised of the possibility of such damages.
                                                            <br /> For the avoidance of doubt, whilst we endeavour to ensure
                                                            that participating establishments honour the advertised offer/discounts,
                                                            we will not be held liable for any direct, indirect, special,
                                                            punitive, exemplary or consequential losses or damages of whatsoever
                                                            kind arising out of the failure of a participating establishment
                                                            to do so.
                                                            <br /> Nothing in these Terms and Conditions shall exclude or
                                                            limit our liability for death or personal injury caused by negligence
                                                            or for fraudulent misrepresentation.</p>
                                                        <p></p>
                                                        <p>Termination
                                                            <br /> We reserve the right to terminate any agreement with immediate
                                                            effect and without notice if:
                                                            <br /> &bull; in our sole opinion you are using our products
                                                            inappropriately or in any manner that might constitute derogatory
                                                            treatment of the Company or might bring us or associated third
                                                            parties into disrepute or in a manner that might be construed
                                                            to be prejudicial to the image of Dine-Club or any associated
                                                            business, including but not limited to participating establishments;
                                                            <br /> &bull; In the event that:
                                                            <br /> &#9702; you make any voluntary arrangement with your creditors,
                                                            you become subject to an administration order, you go into liquidation,
                                                            you suffer a petition for winding up to be issued against you
                                                            or the equivalent occurs under any jurisdiction order other than
                                                            for the purpose of a solvent amalgamation or reconstruction,
                                                            or (being an individual) you are made bankrupt; or
                                                            <br /> &#9702; an encumbrancer takes possession of, or a receiver
                                                            or an administrative receiver is appointed over any of your property
                                                            or assets; or
                                                            <br /> &#9702; you suspend or threaten to suspend any payments
                                                            hereunder or cease or threaten to cease to carry on business
                                                            or
                                                            <br /> &#9702; we reasonably consider that any of the events
                                                            mentioned above is about to occur in relation to you then without
                                                            prejudice to any other right or remedies available to us, we
                                                            shall be entitled forthwith to cancel our agreement with you
                                                            and/or suspend any further deliveries of products without any
                                                            liability to you;
                                                            <br /> &bull; you commit a breach of these Terms and Conditions
                                                            that it is not capable of remedy, or you fail to remedy a breach
                                                            within a reasonable period having been requested to do so by
                                                            us.
                                                        </p>
                                                        <p></p>
                                                        <p>Other important terms
                                                            <br /> We may update or amend these Terms and Conditions from
                                                            time to time to comply with law or to meet our changing business
                                                            requirements without notice to you. Any updates or amendments
                                                            will be posted on our website.
                                                            <br /> These Terms and Conditions supersede any other terms and
                                                            conditions previously published by us and any other representations
                                                            or statements made by us to you, whether oral, written or otherwise.
                                                            <br /> You may not assign or sub-contract any of your rights
                                                            or obligations under these Terms and Conditions to any third
                                                            party unless we agree in writing.
                                                            <br /> We may assign, transfer or sub-contract any of our rights
                                                            or obligations under these Terms and Conditions to any third
                                                            party at our discretion.
                                                            <br /> No relaxation or delay by us in exercising any right or
                                                            remedy under these Terms and Conditions shall operate as waiver
                                                            of that right or remedy or shall affect our ability to subsequently
                                                            exercise that right or remedy. Any waiver must be agreed by us
                                                            in writing.
                                                            <br /> If any of these Terms and Conditions are found to be illegal,
                                                            invalid or unenforceable by any court of competent jurisdiction,
                                                            the rest of these Terms and Conditions shall remain in full force
                                                            and effect.
                                                            <br /> Only you and we shall be entitled to enforce these Terms
                                                            and Conditions. No third party shall be entitled to enforce any
                                                            of these Terms and Conditions, whether by virtue of the Contracts
                                                            (Rights of Third Parties) Act 1999 or otherwise.
                                                            <br /> These Terms and Conditions are governed by English law.
                                                            In the event of any matter or dispute arising out of or in connection
                                                            with these General Terms and Conditions of Sale, you and we shall
                                                            submit to the exclusive jurisdiction of the English courts.</p>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="alert alert-info " ng-show="message ">{{message}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="!$parent.isLoggedIn()" class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Post Details
            </header>
            <div class="table-responsive">
                <table st-table="rowCollection" class="table table-striped table-advance table-hover">
                    <thead>
                        <tr>
                            <th colspan="3">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="input-group input-group-sm">
                                            <input st-search="" placeholder="global search ..." class="input-sm form-control" type="text" />
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <a ui-sref="user.employer-post-add" class="btn btn-sm btn-danger pull-right">Add Post</a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th ng-repeat="header in headerCollection" st-sort={{header.name}}>{{header.displayName}}</th>
                        </tr>
                        <!--  <tr>
                    <th ng-repeat="header in headerCollection">
                        <div class="input-group input-group-sm">
                            <input st-search={{header.name}} class="input-sm form-control" type="search" />
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </th>
                </tr> -->
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
                            <td>{{row.ID}}</td>
                            <td>{{row.NAME}}</td>
                            <td>{{row.POSITIONS}}</td>
                            <td>{{row.LOCATIONS}}</td>
                            <td>{{row.TOTAL_EXP}}</td>
                            <td>{{row.KEY_SKILLS}}</td>
                            <td>{{row.JOB_DESCRIPTION}}</td>
                            <td>{{row.ROLE}}</td>
                            <td>{{row.START_DATE}}</td>
                            <td>{{row.END_DATE}}</td>
                            <!--<a ng-click="delete_deal(row)" class="btn btn-sm btn-danger">
               Remove Restaurant
            </a>-->
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="3" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-center">
                                <div st-items-by-page="5" st-pagination="" st-template="app/commonTempates/pagination.custom.html"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>
</div>