<section>
  <section class="custom-carousel">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
            <div class="">
              <div class="best-job">Best <br>Recruitment consultants  </br>in <span class="city"> Bangalure</span></div>
              <div class="find-job">
              Find Best Jobs In Our Portal </div>
              <div class="">
                <button class="custom-btn">Learn More</button>
              </div>
            </div>
        </div>
        <div class="col-md-3">
          <div class="quick-links">
            <div class="quick-link-data">
              <p>Apply to all jobs that you like in just one click</p>
              <button class="custom-btn btn-orange"> <a ui-sref="user.job-seekers-post">Search for Jobs&nbsp;<i class="fa fa-chevron-right" aria-hidden="true" style="font-size:13px;"></i></a></button>
            </div>
            <div class="quick-link-data">
              <p>Post your requiremnts in one click</p>
              <button class="custom-btn btn-cyan">Post a Job&nbsp;<i class="fa fa-location-arrow" aria-hidden="true" style="font-size:13px;"></i> </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  <section class="what-we-do">
    <div class="container content-sm">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="title-v2">We are Smart Job Consultant</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
            form, by injected humour, or randomised words which don't look even slightly believable.</p>
          <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden
            in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
            making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined
            with a handful of model sentence structures.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="what-people-say">
    <div class="container content-sm">
      <div class="headline-center margin-bottom-60">
        <h2>WHAT PEOPLE SAY</h2>
        <p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br> Lorem ipsum <strong>dolor</strong> sit amet, consectetur
          adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
      </div>
      <div class="row">
        <div class="testimonial">
        <div class="col-md-6">
          
        </div>
        </div>
      </div>
    </div>
  </section>
 <!--Clients-->
  <section class="clients">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header client-title">
            <h1>Clients</h1>
          </div>
        </div>
        <div class="col-md-12">
          <div id="owl-demo">
            <div class="item"><img src="images/client1.png" alt="Owl Image"></div>
            <div class="item"><img src="images/client2.png" alt="Owl Image"></div>
            <div class="item"><img src="images/client3.png" alt="Owl Image"></div>
            <div class="item"><img src="images/client4.png" alt="Owl Image"></div>
            <div class="item"><img src="images/client5.png" alt="Owl Image"></div>
            <div class="item"><img src="images/client6.png" alt="Owl Image"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script>

$(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
 
      autoPlay: 3000, //Set AutoPlay to 3 seconds
 
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });
 
});
</script>