<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-us-container">
                    <div class="about-us-heading">
                        <h2>About Smart Job Consulting</h2>
                    </div>
                    <div class="about-us-detail">
                        Smart Job Consulting is the leading recruitment consultancy in India. With more than 18 branches and around 150+ consultants
                        empanelled in our recruiting team in India and the Middle East, we cover close to all industry sectors.
                        Morpheus is focused on hiring the right people for your organization. Our satisfied customers include
                        leading MNCs and large Indian firms across industries.
                        <br/><br/> At Smart Job Consulting, we understand that to achieve the big dream, you first need a
                        dream team. Keeping this in mind we use our expertise to identify the skills sought by employers
                        across industry verticals. Alongwith a reputation of consistently delivering results, having a clear
                        understanding of the client requirement and high standards of quality, we also service our clients
                        with a host of HR solutions, encompassing recruitment, corporate training, contractual or deputation
                        services and compensation. Also our MHC academy partners with client organizations in building enduring
                        relationships.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-us-image">
                    <img class="img img-responsive" src="images/corporate-aboutus.jpg" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="leadership">
                <h3>Leadership</h3>
            </div>
            <div class="col-md-4">
                <div class="leadership-img">
                    <img class="img img-responsive" src="images/leader3.jpg" />
                    <div class="leadership-content">
                        <div class="leadership-name">
                            Jon Snow
                        </div>
                        <div class="title">
                            Chief Executive Officer
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="leadership-img">
                    <img class="img img-responsive" src="images/leader1.png" />
                    <div class="leadership-content">
                        <div class="leadership-name">
                            Robert Junior
                        </div>
                        <div class="title">
                            Chief Technology Officer
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="leadership-img">
                    <img class="img img-responsive" src="images/leader2.png" />
                    <div class="leadership-content">
                        <div class="leadership-name">
                           John Logi
                        </div>
                        <div class="title">
                            Chief Finance Officer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="upper-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="aboutus" title="About us">About us</a></li>
                        <li><a href="we-are-hiring" title="We are hiring">We are hiring</a></li>
                        <li><a href="our-team" title="Our Team">Meet the team</a></li>
                        <li><a href="careertips" title="Career Tips">Career Tips</a></li>
                        <li><a href="submit-your-resume" title="Privacy policy">Submit Resume</a></li>
                        <li><a href="sitemap.php" title="sitemap">Sitemap</a></li>
                        <li><a href="morpheus-human-charity" title="Morpheus human Charity">Morpheus Human Charity</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Franchise</h3>
                    <ul>
                        <li><a href="franchise" title="About Franchise">Franchise</a></li>
                        <li><a href="locations" title="Locations">Franchise Location</a></li>
                        <li><a href="clients" title="Clients">Our Clients</a></li>
                        <li><a href="franchise-testimonials" title="Testimonials">Franchise Testimonials</a></li>
                        <li><a href="franchise-reviews" title="Connect us">Franchise-Reviews</a></li>
                        <li><a href="franchise-enquiry" title="Connect us">Franchise Enquiry</a></li>
                        <li><a href="http://morpheusgulf.com/" target="_blank" title="Morpheus Human Consulting FZE">Recruitment Franchise in Middle East</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Other Links</h3>
                    <ul>
                        <li><a href="http://morpheusgulf.com/jobs/" title="Jobs in Middle-East">Jobs in Middle-East</a></li>
                        <li><a href="careers" title="Chennai">Jobs in Chennai</a></li>
                        <li><a href="careers" title="Bangalore">Jobs in Bangalore</a></li>
                        <li><a href="careers" title="Kolkata">Jobs in Kolkata</a></li>
                        <li><a href="careers" title="Ahemdabad">Jobs in Ahmedabad</a></li>
                        <li><a href="careers" title="Pune">Jobs in Mumbai</a></li>
                        <li><a href="careers" title="Delhi">Jobs in Delhi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>