            <section class="panel">
                <header class="panel-heading">
                    Post Details
                </header>
                <div class="table-responsive">
                    <table st-table="rowCollection" class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th colspan="3">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group input-group-sm">
                                                <input st-search="" placeholder="global search ..." class="input-sm form-control" type="text" />
                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <a ui-sref="user.employer.employer-post-add" class="btn btn-sm btn-danger pull-right">Add Post</a>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th ng-repeat="header in headerCollection" st-sort={{header.name}}>{{header.displayName}}</th>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
                                <td>{{row.ID}}</td>
                                <td>{{row.NAME}}</td>
                                <td>{{row.POSITIONS}}</td>
                                <td>{{row.LOCATIONS}}</td>
                                <td>{{row.TOTAL_EXP}}</td>
                                <td>{{row.KEY_SKILLS}}</td>
                                <td>{{row.JOB_DESCRIPTION}}</td>
                                <td>{{row.ROLE}}</td>
                                <td>{{row.START_DATE}}</td>
                                <td>{{row.END_DATE}}</td>
                            </tr>
                        </tbody>
                        <tbody ng-show="isLoading">
                            <tr>
                                <td colspan="3" class="text-center">Loading ... </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-center">
                                    <div st-items-by-page="5" st-pagination="" st-template="app/commonTempates/pagination.custom.html"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>

