<div class="btn-group" dropdown dropdown-append-to-body >
    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
         <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" style="margin-left:-110px">
        <li><a ui-sref="profile">Profile</a></li>
        <li><a ng-click="changePassword()">Change Password</a></li>
        <!--<li><a href="#">Something else here</a></li>-->
        <li class="divider"></li>
        <li><a ng-click="logoff()">Logout</a></li>
    </ul>
</div>